@{
    ViewBag.Title = "Home Page";
}



<!-- Promo Block -->
<div class="promo-bg-pattern-v1-dark">
    <div class="container text-center" data-start="opacity: 1;" data-320="opacity: 0;">


        <h2 class="animated fadeInUp wow margin-bottom-20" data-wow-duration="1.5s" data-wow-delay="1.5s">Choisisser votre évenement</h2>
        <h3 class="animated fadeInUp wow margin-bottom-20" data-wow-duration="1.5s" data-wow-delay="2.5s">Nous vous indiquons 3 parkings possédant des places libres</h3>
        <div>
            <h3 class="wow slideInRight" data-wow-offset="10" data-wow-iteration="10">@Html.ActionLink("C'est parti", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h3>


        </div>
    </div>
</div>
<!-- End Promo Block -->
